GITHUB_OWNER=<GITHUB_OWNER>
FRONTEND_IMAGE_TAG=latest
BACKEND_IMAGE_TAG=latest
FRONTEND_STAGING_IMAGE_TAG=develop
BACKEND_STAGING_IMAGE_TAG=dev
N8N_IMAGE_TAG=latest
UPTIME_KUMA_IMAGE_TAG=2
BESZEL_IMAGE_TAG=latest
BESZEL_AGENT_IMAGE_TAG=latest
BESZEL_AGENT_KEY=<BESZEL_AGENT_PUBLIC_KEY_FROM_HUB>
GHCR_USERNAME=<GHCR_USERNAME>
GHCR_TOKEN=<GHCR_TOKEN>
