GITHUB_OWNER=<GITHUB_OWNER>
FRONTEND_IMAGE_TAG=latest
BACKEND_IMAGE_TAG=latest
FRONTEND_STAGING_IMAGE_TAG=develop
BACKEND_STAGING_IMAGE_TAG=dev
AI_STAGING_IMAGE_TAG=develop
N8N_IMAGE_TAG=latest
GHCR_USERNAME=<GHCR_USERNAME>
GHCR_TOKEN=<GHCR_TOKEN>
